.common{

    border:solid black ;
    height: 200px;
    width:200px;

}

#div1{

    position: absolute;
    background-color: blue;
    top:100px;
    left:400px;
    z-index:1;
}

#div2{

    position: fixed;
    background-color:red;
    left: 425px;
    z-index:2;
    top:100px;
    
}


#div3{

    /* position: relative; */
    background-color:green;
    /* left: 450px; */
    top:-100px;
}

#div4{

    background-color: yellow;

}


#div5{

    background-color: purple;
    position:sticky;
    top:20px;
    
}


#div6{

    background-color: orange;
    position: relative;   
    right:50px; 
}